.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  tr:hover {background-color: grey;}

.main{
    margin-left: 20px;
}

#error{
  color: red;
  font-size: small;
}